HomePage{
        border-image: url("./assets/image.png");
        /* image: url("./assets/image.png");
        image-position:relative;
        margin-bottom: 0px */
    }

QPushButton{
    color: black;
    background-color: #2087f5;
    border-color:blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}

QPushButton:hover{
    background-color:#20b5f5
}

