<!-- Custom HTML site displayed as the Home chapter -->

{% extends "base.html" %}
{% block tabs %}
{{ super() }}
<style>
    .md-main {
        height: 0;
        flex-grow: 1
    }

    .md-main__inner {
        display: flex;
        height: 100%;
    }


    .md-container {
        /* background: linear-gradient(to bottom, var(--md-primary-fg-color), hsla(160deg, 47%, 55%, 1) 99%, #fff 99%) */
        background: url("assets/images/W1_v2.png") no-repeat;
        background-size: cover;
        background-position: center;
        /* position: relative; */
    }

    .md-container::after {
        content: "";
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background: rgb(0, 0, 0);
        background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.5) 70%);
        /* background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 65%); */
        mix-blend-mode: overlay;
    }

    .md-container>* {
        position: relative;
        z-index: 1;
    }


    /* For sidebar to popup on small screens */
    .md-main {
        z-index: 3
    }

    .md-sidebar--secondary {
        z-index: 3;
    }


    .tx-container {
        display: flex;
        flex-grow: 20;
    }

    .tx-hero {
        /* margin: 32px 2.8rem; */
        margin: 56px 32px 32px 32px;
        color: var(--md-primary-bg-color);
        justify-content: flex-start;
    }

    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700
    }

    .tx-hero__content {
        max-width: 70%;
        /* Added by Jeremy */
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .tx-hero__image {
        /* width: 17rem;
        height: 17rem; */
        display: none;
        height: 20rem;
        width: 20rem;
        order: 1;
        /* padding-right: 2.5rem; */
    }

    .tx-hero .spacer {
        display: none
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: hsla(280deg, 37%, 48%, 1);
        border-color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color)
    }

    .feature-item h2 svg {
        height: 30px;
        float: left;
        margin-right: 10px;
        transform: translateY(10%);
    }

    .top-hr {
        margin-top: 42px;
    }

    .feature-item {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        box-sizing: border-box;
        padding: 0 15px;
        word-break: break-word
    }

    .feature-item h2 {
        color: #333;
        font-weight: 300;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
    }

    .feature-item p {
        font-size: 16px;
        line-height: 1.8em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #111;
        margin: 0 0 10px;
        display: block;
    }

    @media screen and (max-width:30em) {
        .tx-hero h1 {
            font-size: 1.4rem
        }
    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display: none
        }

        .md-grid {
            margin-left: 0;
            max-width: 100%;
            padding-right: 15px;
        }

        .tx-hero {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .tx-hero__content {
            max-width: 22rem;
            margin-top: 1.5rem;
            margin-bottom: 5.5rem;
            margin-left: 0.0rem;
            margin-right: 0;
            /* margin: 1.5rem 9.0rem 5.5rem 0rem; */
            align-items: center;
        }

        .tx-hero__image {
            /* width: 17rem;
            height: 17rem; */
            /* display: flex;
            justify-content: center;
            align-items: center; */
            display: inline-block;
            order: 1;
            /* padding-right: 2.5rem; */
        }

        .tx-hero .spacer {
            display: block;
            width: 70vh;
            background: red;
        }
    }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none
        }

        .top-hr {
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .bottom-hr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .feature-item {
            flex: 1;
            min-width: 0;
        }

        .feature-item:hover {
            background-color: #526cfe47;
            border-radius: 3px;
        }
    }

    .hr {
        border-bottom: 1px solid #eee;
        width: 100%;
        margin: 20px 0;
    }

    .text-center {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 23px;
        font-weight: 300;
        padding-bottom: 10px;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    .logos img {
        flex: 1 1 auto;
        padding: 25px;
        max-height: 130px;
        vertical-align: middle;
    }

    .hr-logos {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .md-footer-meta__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1.0rem;
    }

    .md-footer-social {
        padding-top: 20px;
    }
</style>

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <div class="tx-hero__content">
                <h1> Nanotrappy </h1>
                <p> {{ config.site_description }}</p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}"
                    class="md-button md-button--primary">
                    Install
                </a>
                <a href="{{ 'tutorial/' | url }}" title="Quick start" class="md-button">
                    Quick start
                </a>
            </div>
            <div class="spacer"></div>
            <div class="tx-hero__image">
                <img src="assets/logos.png" draggable="false">
            </div>
        </div>
    </div>
</section>

{% endblock %}

{%block content%}
<div style="display:none"></div>
{%endblock%}